* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #eeeeee;
  height: 100vh;
  width: 100vw;
  padding-top: 80px;
}

.card {
  width: 315px;
  margin: 25px auto 0;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.14);
  color: #000;
  font-size: 16px;
  text-align: center;
  background-color: #fff;
}

.vr {
  border-right: 1px solid black;
}

.social-icon-fb {
  margin: 0 7px;
  color: #3b5999;
}

.social-icon-twitter {
  margin: 0 7px;
  color: #55acee;
}

.social-icon-youtube {
  margin: 0 7px;
  color: #cd201f;
}

.social-icon-mail {
  margin: 0 7px;
  color: #dd4b39;
}

.social-icon-linkedin {
  margin: 0 7px;
  color: #0077b5;
}

.imaage {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  border: 5px solid white;
  border-radius: 1000px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  height: 76px;
  width: 76px;
}

.imgcontainer {
  position: relative;
  height: 48px;
}

.description {
  padding: 10px 40px;
}

.para {
  font-size: 22;
  color: #999999;
  margin: 10px;
}

.decribe {
  line-height: 24px;
}

.social-icon {
  margin: 10px 7px;
  font-size: 18px;
}

.name {
  margin-top: 5px;
  font-weight: bold;
  text-transform: uppercase;
  color: #5b5b5b;
}

.footer {
  display: table;
  border-top: 1px solid rgb(164, 153, 153);
  width: 100%;
  height: 40px;
  padding: 0 5px;
}

.count {
  font-size: 16px;
  font-weight: 600;
  color: #5b5b5b;
}

.col {
  display: table-cell;
  padding: 5px 10px;
  font-size: 15px;
}

@media only screen and (max-width: 575px) {
  .card {
    width: 96%;
  }

  .body {
    padding:  20px;
  }

  .col {
    padding: 10px;
  }

  .count {
    display: block;
    margin-bottom: 5px;
  }
}
